@{
    ViewData["Title"] = "Inicio";
    ViewData["imagen"] = Url.Content("~/images/gallery/section_bg01.png");
}

@*slider Area Start*@
<!--? slider Area Start-->
<div class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">

        </div>
    </div>
</div>

@*slider Area End*@


@*Categories Area Start*@
<div class="categories-area section-padding30">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">

                @*Section Tittle*@
                <div class="section-tittle text-center mb-70">
                    <h2>Cercanía con el ciudadano</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="#">
                    <div class="single-cat mb-50">
                        <div class="cat-icon text-center">
                            <span>
                                <img src="~/images/public-procurement.svg" alt="Alternate Text" width="120" />
                            </span>
                        </div>
                        <div class="cat-cap text-center">
                            <h5>Convocatorias</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="#">
                    <div class="single-cat mb-50">
                        <div class="cat-icon text-center">
                            <span>
                                <img src="~/images/brigades.svg" alt="Alternate Text" width="120" />
                            </span>
                        </div>
                        <div class="cat-cap text-center">
                            <h5>Brigadas</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="#">
                    <div class="single-cat mb-50">
                        <div class="cat-icon text-center">
                            <span>
                                <img src="~/images/pqrs.svg" alt="Alternate Text" width="120" />
                            </span>
                        </div>
                        <div class="cat-cap text-center">
                            <h5>PQSR</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
@*Categories Area End*@

<!--? Blog Area Start -->
<div class="home-blog-area section-padding30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center mb-50">
                    <h2>Artículos más recientes</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="~/images/gallery/home-blog1.png" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <p>Domingo, 12 de oct 2020</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <h3><a href="blog_details.html">Este domingo 12 de octubre se realizo una brigada de recoleccion de llantas en el barrio Santa Lúcia</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="~/images/gallery/home-blog1.png" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <p>Domingo, 12 de oct 2020</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <h3><a href="blog_details.html">Este domingo 12 de octubre se realizo una brigada de recoleccion de llantas en el barrio Santa Lúcia</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="~/images/gallery/home-blog1.png" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <p>Domingo, 12 de oct 2020</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <h3><a href="blog_details.html">Este domingo 12 de octubre se realizo una brigada de recoleccion de llantas en el barrio Santa Lúcia</a></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Blog Area End -->