<div class="col-lg-12 mb-4 mb-lg-0 text-justify">
    <strong>La Empresa de Servicios Públicos de Santa Fe de Antioquia:</strong>
    tiene como visión prestar sus servicios con calidad, responsabilidad y transparencia.
    Para más información puedes ir a <a href="~/acerca-de-nosotros"><strong>Acerca de nosotros</strong> </a>
</div>