<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">

            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"><strong>Santa Fe de Antioquia</strong></h5>
                    <p>
                        Dirección: Calle 10# 9-06 Centro Comercial La Contaduría Local 24.
                        <br>
                        Horario de atención: De Lunes a viernes de 8:00 a.m. a 1:00 p.m. y de 2:00 p.m. a 5:30 p.m., Sábado hasta las 1:30 p.m.
                        <br>
                        Domingos y Festivos No hay Prestación de Servicio.
                        <br>
                        Línea telefónica: (604) 853 31 99.
                        <br>
                        Celular: 310 518 82 44
                        <br>
                        Correo institucional: admin@espsantafedeantioquia.co
                        <br>
                        asesoría: asesorias@espsantafedeantioquia.co
                    </p>
                    <div>
                        <ul class="nav footer-social">
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/espsantafe" target="_blank">
                                    <i class="fab fa-facebook-square"></i>
                                    <span><strong>Facebook</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://twitter.com/alcaldiasfda" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                    <span><strong>Twitter</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/alcaldiasantafedeantioquia/?hl=es-la" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                    <span><strong>Instagram</strong></span>
                                </a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
                <iframe class="footer-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.721241600645!2d-75.82855473601646!3d6.556831547219662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e45b61778055553%3A0xdebdf0ace70d49cb!2sCentro%20Comercial%20La%20Contaduria!5e0!3m2!1ses!2sco!4v1607153530582!5m2!1ses!2sco"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>


    <div class="container">
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center" style="font-size:12px">Copyright © 2020 todos los derechos reservados | Diseñado y
            desarrollado por <a href="https://www.linkedin.com/in/jhotams" target="_blank" ><strong>JhotaMS.Developer</strong></a></p>
    </div>

</footer>
