<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>@ViewData["Title"] - Empresa de servicios públicos de Santa Fe de Antioquia</title>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="~/fonts/flaticon-espSantaFeDeAnt/font/flaticon.css" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <div class="mb-0 site-logo">
                            <a asp-controller="home" asp-action="index" class="mb-0">
                                <span class="text-primary"><img class="m-2" src="~/images/logo/logo-default.svg" alt="Empresa de Servicios Públicos de Santa de Antioquia" width="210"></span>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active"><a asp-controller="home" asp-action="index" style="font-weight: bold;" class="nav-link"><strong>Inicio</strong></a></li>
                                <li><a href="~/acerca-de-nosotros" style="font-weight: bold;" class="nav-link"><strong>Acerca de nosotros</strong></a></li>
                                <li class="has-children">
                                    <a href="prevention.html" style="font-weight: bold;" class="nav-link"><strong>Servicios</strong></a>
                                    <ul class="dropdown">
                                        <li><a href="~/mantenimientos-de-acequias" class="nav-link">Mantenimientos de Acequias</a></li>
                                        <li><a href="~/alumbrado-publico" class="nav-link">Alumbrado Público</a></li>
                                        <li><a href="~/ruta-selectiva" class="nav-link">Ruta Selectiva </a></li>
                                        <li><a href="~/plantasde-tratamientos" class="nav-link">Plantas de Tratamientos</a></li>
                                        <li><a href="~/jornada-de-siembra" class="nav-link">Jornada de Siembra</a></li>
                                        <li><a href="~/recoleccion-de-llantas" class="nav-link">Recolección de Llantas</a></li>
                                    </ul>
                                </li>

                                <li><a href="~/blog" style="font-weight: bold;" class="nav-link"><strong>Blog</strong></a></li>


                                <partial name="_LoginPartial" />
                            </ul>
                        </nav>
                    </div>


                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>

                </div>
            </div>

        </header>


        <div class="hero-v1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mr-auto text-center text-lg-left">
                        <br>
                        <br>
                        <span class="d-block subheading">Nuestro compromiso es</span>
                        <h1 class="heading mb-3">Mejorar calidad de vida</h1>
                        <p class="mb-5 subheading-parrafo">Somos una empresa pública comprometida con mejorar la calidad de vida que contribuye al desarrollo cultural y ambiental en la región.</p>
                        <!-- <p class="mb-4"><a href="#" class="btn btn-primary">Conózcanos</a></p>-->

                    </div>

                    <!-- <div class="col-lg-6">
                      <figure class="illustration">
                        <img src="images/illustration-02.png" alt="Image" class="img-fluid">
                      </figure>
                    </div> -->

                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>

        <main role="main">
            @RenderBody()
        </main>

        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="footer-heading mb-4 text-center">Redes sociales</h2>
                        <div class="my-5 text-center">
                            <a href="https://www.facebook.com/espsantafe" class="pl-0 pr-3" target="_blank"><span class="icon-facebook"></span></a>
                            <a href="https://twitter.com/alcaldiasfda" class="pl-3 pr-3" target="_blank"><span class="icon-twitter"></span></a>
                            <a href="https://www.instagram.com/alcaldiasantafedeantioquia/?hl=es-la" class="pl-3 pr-3" target="_blank"><span class="icon-instagram"></span></a>
                            <a href="https://www.youtube.com/user/COMUNICADORANTIOQUIA" class="pl-3 pr-3" target="_blank"><span class="icon-youtube"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4">
                                <h2 class="footer-heading mb-4">Links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">Acerca de nosotros</a></li>
                                    <li><a href="#">Contáctenos</a></li>

                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h2 class="footer-heading mb-4">Link</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">Concovatorias</a></li>
                                    <li><a href="#">Brigadas</a></li>

                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h2 class="footer-heading mb-4">Link</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">PQRSD</a></li>
                                    <li><a href="#">Blog</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p class="copyright">
                                <small>

                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script>
                                    todos los derechos reservados | Diseño
                                    <i class="icon-heart text-danger" aria-hidden="true"></i> by
                                    <a href="https://colorlib.com" target="_blank">Colorlib</a> | Programación
                                    <i class="icon-heart text-danger" aria-hidden="true"></i> by
                                    <a href="https://linkedin.com/in/jhotams" target="_blank">Jhonatan Alejandro Muñoz Serna</a>

                                </small>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>


    <script src="https://cdn.tiny.cloud/1/fx3uf5far79v8h24dqwntqiaf5kq03fcderm49440staohhq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
