@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var _fullName = User.Identity.Name;
    char[] _split = { '@' };
    var _userName = _fullName.Split(_split);
    ViewData["name"] = _userName[0];

    <li class="has-children">
        <a class="nav-link" style="color:#007bff"><strong>@ViewBag.name</strong></a>
        <ul class="dropdown">
            <li><a class="nav-link btn-logout" href="~/perfil" title="Manage"> Perfil</a></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn-logout">Salir</button>
                </form>
            </li>

        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="bton-lr" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}