@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="site-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="PQRSDa" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Error de la página</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <div class="alert alert-danger" role="alert">
            Se ha presentado un error el sistema
        </div>
    </div>
</div>