@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo electrónico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-section">
    <div class="container text-center">
        <h2 class="mb-4 section-heading text-center">@ViewData["Title"]</h2>
        <span>Ahora puedes consultar y participar de nuestras convocatorias</span>
    </div>
</div>