@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <section>
                        <div class="text-center">
                            <h2 class="mb-4 section-heading text-center">@ViewData["Title"]</h2>
                            <hr />
                        </div>
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <label>Introduce tu email</label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-3">Enviar</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}