@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <h2 class="mb-4 section-heading text-center">@ViewData["Title"]</h2>
        <p>
            Por favor revise su correo electrónico para restablecer su contraseña.
        </p>

    </div>
</div>
