@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <h2 class="mb-4 section-heading text-center">@ViewData["Title"]</h2>
        <p class="text-danger">Esta cuenta se ha bloqueado. Vuelve a intentarlo más tarde..</p>
    </div>
</div>
