@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}


<div class="site-section">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>Ha cerrado la sesión con éxito de la aplicación.</p>
    </div>
</div>