@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación del registro";
}

<div class="site-section">

    <div class="container bg-primary-light p-5">
        <h2 class="mb-4 section-heading text-center">@ViewData["Title"]</h2>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    Esta aplicación actualmente no tiene un remitente de correo electrónico real registrado, consulte <a href="https://aka.ms/aspaccountconf">estos documentos</a> para saber cómo configurar un remitente de correo electrónico real.
                    Normalmente esto se enviaría por correo electrónico: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
                </p>
            }
            else
            {
                <p>
                    Por favor revise su correo electrónico para confirmar su cuenta.
                </p>
            }
        }

    </div>
</div>


