@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer la confirmación de la contraseña";
}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <section>
                    <h1>@ViewData["Title"]</h1>
                    <p>
                        Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">Haga clic aquí para ingresar</a>.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>

