@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="site-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <section>
                    <h1 class="text-danger">Error.</h1>
                    <h2 class="text-danger">se produjo un error al procesar su solicitud.</h2>

                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Solicitud ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }

                    <h3>Modo de desarrollo</h3>
                    <p>
                        Cambiando a <strong>Desarrollo</strong> El entorno mostrará información más detallada sobre el error que ocurrió.
                    </p>
                    <p>
                        <strong>El entorno de desarrollo no debe habilitarse en las aplicaciones implementadas</strong>,
                        ya que puede dar lugar a que se muestre a los usuarios finales información confidencial de excepciones.
                        Para la depuración local, el entorno de desarrollo se puede habilitar configurando el
                        <strong>ASPNETCORE_ENVIRONMENT</strong> variable de entorno a <strong>Desarrollo</strong>,
                        y reiniciando la aplicación..
                    </p>

                </section>
            </div>
        </div>
    </div>
</div>



