@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ModelViewBrigade>

@{

    ViewData["Url"] = "http://www.espsantafedeantioquia.co/noticias";
    ViewData["Title"] = "Brigadas";
    ViewData["Coverpage"] = "http://www.espsantafedeantioquia.co/images/logo-coverpage.jpg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Brigadas</li>
            </ol>
        </nav>

        @if (SignInManager.IsSignedIn(User)
         && User.IsInRole("Admin")
         && User.IsInRole("SuperAdmin"))
        {
            <a asp-action="create">
                <div class="alert item-add" role="alert">
                    en esta sección puedes agregar un item nuevo
                </div>
            </a>
        }

        <div id="macy-container">

            @foreach (var item in Model)
            {
                <a href="brigadas/@item.UrlMaster">

                    <div class="card-deck">
                        <div class="card symptom">
                            <img class="card-img-top" src="~/images/brigade/@item.CoverPage" alt="@item.NameMaster">
                            <div class="text text-center">
                                <h3 class="text-capitalize">@item.NameMaster </h3>
                                <p class="text-center mt-2">
                                    Fecha de la brigada: @item.DateBrigade
                                    <br />
                                    Fecha de publicación: @item.DateCreate
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        var masonry = new Macy({
            container: "#macy-container",
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: {
                y: 16,
                x: "2%",
            },
            breakAt: {
                1200: 3,
                940: 2,
                520: 1,
                350: 1
            }
        });
    </script>
}

