@model IEnumerable<ModelViewBrigade>

@{
    ViewData["Title"] = "Brigadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Brigadas</li>
            </ol>
        </nav>

        <div id="macy-container">

            @foreach (var item in Model)
            {
                <a href="brigadas/@item.UrlMaster">

                    <div class="card-deck">
                        <div class="card symptom">
                            <img class="card-img-top" src="~/images/brigade/@item.CoverPage" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@item.NameMaster </h5>
                                <p class="card-text"><small class="text-muted">@item.DateCreate</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        var masonry = new Macy({
            container: "#macy-container",
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: {
                y: 16,
                x: "2%",
            },
            breakAt: {
                1200: 3,
                940: 2,
                520: 1,
                350: 1
            }
        });
    </script>
}

