
@{
    ViewData["Url"] = "http://www.espsantafedeantioquia.co/acerca-de-nosotros";
    ViewData["Title"] = "Acerca de nosotros";
    ViewData["Coverpage"] = "http://www.espsantafedeantioquia.co/images/logo-coverpage.jpg";
}


<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Acerca de nosotros</li>
            </ol>
        </nav>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <section>

                    <div class="col-lg-12">

                        <div class="container">

                            <h3 class="text-center">
                                Empresa de Servicios Públicos de <br /> Santa Fe de Antioquia S.A.S E.S.P
                            </h3>

                            <p class="text-justify">
                                La Empresa de Servicios Públicos de Santa Fe de Antioquia SAS
                                E.S.P., es una empresa descentralizada del municipio, creada
                                mediante Acuerdo Municipal 014 de junio 28 de 2016 del Honorable
                                Concejo Municipal de Santa Fe de Antioquia, empresa legalmente
                                constituida y con registro ante la Cámara de Comercio, identificada
                                con NIT 901033936-9, su creación se relaciona al apoyo para
                                administración municipal en actividades de prestación de servicios
                                con el fin de disminuir necesidades básicas insatisfechas en la
                                población, caso puntual las relacionadas con el tema de recuperación
                                y aprovechamiento de los residuos sólidos a nivel municipal, además
                                de coordinar los canales de comercialización del material reciclable
                                garantizando un adecuado manejo y su aprovechamiento de manera
                                eficiente e integral; permitiendo mejorar la calidad de vida de las
                                personas que hoy derivan el sustento de sus familias del
                                “reciclaje”. La empresa ve oportuno que a mediano plazo se apoye las
                                organizaciones de recicladores legalmente constituidas de
                                conformidad con los numerales 2° y 4° del Articulo 15 de la Ley 142
                                de 1994, a los recicladores de oficio radicados en nuestro municipio
                                la remuneración a su labor en las actividades de recolección, y así
                                corresponder a las expresas indicaciones de la resolución 0754 de
                                2014, que indica en su artículo 9, sobre aprovechamiento de residuos
                                sólidos en el marco de PGIRS que “ Los municipios o distritos
                                apoyarán la coordinación entre los actores involucrados en las
                                actividades de aprovechamiento de los residuos sólidos, tales como
                                prestadores del servicio público de aseo, recicladores de oficio,
                                autoridades ambientales y sanitarias, comercializadores de
                                materiales reciclables, sectores productivos y de servicios, entre
                                otros”, a su vez, generando acciones y proyectos incluyentes que
                                permiten incorporar personas al aparato productivo de la economía de
                                escala que se genera alrededor del adecuado manejo de residuos
                                sólidos, se garantiza el Derecho Constitucional establecido en el
                                artículo 79 de la constitución Política de Colombia,
                                <em>
                                    “ todas las personas tienen derecho a gozar de un ambiente sano”.
                                </em>
                            </p>

                            <br />
                            <h3 class="text-center">
                                Misión
                            </h3>
                            <p class="text-justify">
                                Somos una empresa dedicada a la prestación de servicios públicos comprometida con mejorar la calidad de vida de la comunidad, a través acciones eficientes enmarcadas bajo las normas legales vigentes y valores corporativos, con el fin de contribuir al desarrollo de las políticas sociales, culturales y ambientales del territorio en el cual desarrolla su objeto social.
                            </p>
                            <br />
                            <h3 class="text-center">
                                Visión
                            </h3>
                            <p class="text-justify">En el 2025 la Empresa de Servicios Públicos de Santa Fe de Antioquia S.A.S. E.S.P, será reconocida a nivel regional y nacional como una entidad gestora que presta sus servicios con calidad, responsabilidad y transparencia.</p>
                            <br />

                            <br />
                            <h3 class="text-center">
                                Valores Corporativos
                            </h3>
                            <p class="text-justify">
                                El Respeto:
                                <em>
                                    Es el reconocimiento del valor propio, de los derechos de los
                                    individuos y de la sociedad.
                                </em>
                                <br />
                                <br />
                                La Honestidad:
                                <em>
                                    Es el reconocimiento del valor propio, de los derechos de los
                                    Es ser sincero, coherente, transparente, actuar siempre con la
                                    verdad y la justicia.
                                </em>

                                <br />
                                <br />
                                La Integridad:
                                <em>
                                    Es regirse por los principios éticos, morales y legales.
                                </em>

                                <br />
                                <br />
                                El Servicio
                                <em>
                                    Actitud hacia el cliente, expresada en acciones que ayuden a
                                    satisfacer sus necesidades para lograr su lealtad.
                                </em>

                                <br />
                                <br />
                                Seguridad:
                                <em>
                                    Es la coexistencia con niveles mínimos de riesgos, minimizando la
                                    posibilidad de accidentes e incidentes, preservando la vida e
                                    integridad de nuestros colaboradores.
                                </em>

                                <br />
                                <br />
                                Responsabilidad Ambiental:
                                <em>
                                    Apreciar y valorar el entorno cumpliendo las leyes que regulen los
                                    impactos negativos del hombre. Las parejas deben respetarse y
                                    valorase como así mismo, para que sus hijos respeten a los que los
                                    rodean y a toda diversidad de seres vivos que existen en el planeta.
                                </em>

                                <br />
                                <br />
                                <a asp-controller="home" asp-action="FunctionManual" target="_blank">
                                    Descargar el manual de funciones
                                </a>

                            </p>

                            <br />


                        </div>


                    </div>

                </section>
            </div>
        </div>
    </div>
</div>

