@{
    ViewData["Title"] = "Inicio";
}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-10 mx-auto text-center">
                <h2 class="mb-4 section-heading">Cercanía con el ciudadano</h2>
                <p class="text-justify">Para tener un mejor acercamiento con la ciudadanía, hemos creado diferentes canales de comunicación donde podrás participar en las convocatorias, brigadas entre otras más</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <a href="~/convocatorias">
                    <div class="symptom d-flex">
                        <div class="img">
                            <img src="~/images/iconos/convocatorias.svg" alt="Image" class="img-fluid">
                        </div>
                        <div class="text">
                            <h3>Convocatorias</h3>
                            <p> Para ser más transparentes en el sector público, hemos creado esta sección donde encontraras todas las convocatorias en las cuales podrás participar. </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 mb-4">
                <a href="~/pqrsd">
                    <div class="symptom d-flex">
                        <div class="img">
                            <img src="~/images/iconos/pqsrd.svg" alt="Image" class="img-fluid">
                        </div>
                        <div class="text">
                            <h3>PQRSD</h3>
                            <p> Esta sección está diseñada para que a través de nuestro sistema de información puedas realizar tus peticiones, quejas, reclamos, solicitudes y denuncias.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 mb-4">
                <a data-toggle="modal" data-target="#building">
                    <div class="symptom d-flex">
                        <div class="img">
                            <img src="~/images/iconos/brigadas.svg" alt="Image" class="img-fluid">
                        </div>
                        <div class="text">
                            <h3>Brigadas</h3>
                            <p> Para llegar a muchas más personas hemos creado esta sección de brigadas para que encuentre en esta todas las actividades públicas.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 mb-4">
                <a data-toggle="modal" data-target="#building">
                    <div class="symptom d-flex">
                        <div class="img">
                            <img src="~/images/iconos/cantactenos.svg" alt="Image" class="img-fluid">
                        </div>
                        <div class="text">
                            <h3>Contáctenos</h3>
                            <p> Contáctenos a través de los diferentes canales de comunicación que hemos creado para la ciudadanía en general.</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <br />
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="note row">
                    <partial name="_BusinessObjective" />
                </div>
            </div>
        </div>

    </div>
</div>

@*<div class="site-section bg-primary-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-7 mx-auto text-center">
                    <h2 class="mb-4 section-heading">Últimas publicaciones</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="post-entry">
                        <a href="#" class="thumb">
                            <span class="date">30 Jul, 2020</span>
                            <img src="~/images/hero_1.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-meta text-center">
                        </div>
                        <h3><a href="#">How Coronavirus Very Contigous</a></h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="post-entry">
                        <a href="#" class="thumb">
                            <span class="date">30 Jul, 2020</span>
                            <img src="~/images/hero_2.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-meta text-center">
                        </div>
                        <h3><a href="#">How Coronavirus Very Contigous</a></h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="post-entry">
                        <a href="#" class="thumb">
                            <span class="date">30 Jul, 2020</span>
                            <img src="~/images/hero_1.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-meta text-center">
                        </div>
                        <h3><a href="#">How Coronavirus Very Contigous</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
