@model modelDTOs.NacionLicitanteEditDto

@{
    ViewData["Title"] = "Edit";
}

<div class="site-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item"><a href="~/convocatorias">Convocatorias</a></li>
                <li class="breadcrumb-item"><a asp-controller="nacionlicitante" asp-action="index">Listado General</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editando</li>
            </ol>
        </nav>
        <p>
            <a class="btn btn-secondary btn-block" asp-action="Edit">Editando</a>
        </p>
    </div>

    <div class="container bg-primary-light">

        <div class="row justify-content-md-center">
            <div class="col-lg-10 m-3">
                <form enctype="multipart/form-data" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NameMaster" class="control-label"></label>
                        <input asp-for="NameMaster" class="form-control" readonly/>
                        <span asp-validation-for="NameMaster" class="text-danger">@ViewBag.DuplicaName</span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CoverPage" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="CoverPage" class="custom-file-input" id="customFile" accept=".jpg, .png, .jpeg">
                            <label class="custom-file-label" for="customFile">Elija la imagen</label>
                        </div>
                        <span asp-validation-for="CoverPage" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label text-center">
                            <input class="form-check-input" asp-for="Statud" /> @Html.DisplayNameFor(model => model.Statud)
                        </label>
                    </div>


                    <div class="form-group">
                        <label asp-for="NacionLicitantegStartDate" class="control-label"></label>
                        <input type="date" asp-for="NacionLicitantegStartDate" class="form-control" />
                        <span asp-validation-for="NacionLicitantegStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NacionLicitanteEndDate" class="control-label"></label>
                        <input type="date" asp-for="NacionLicitanteEndDate" class="form-control" />
                        <span asp-validation-for="NacionLicitanteEndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NacionLicitantegFile" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="NacionLicitantegFile" class="custom-file-input" id="customFile" accept=".pdf">
                            <label class="custom-file-label" for="customFile">El archivo debe de ser .pdf</label>
                        </div>
                        <span asp-validation-for="NacionLicitantegFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        // Agregue el siguiente código si desea que aparezca el nombre del archivo en select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}