@model IEnumerable<ModelViewNacionLicitante>

@{
    ViewData["Title"] = "Convocatorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _currentDate = DateTime.Now;
}


<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Convocatorias</li>
            </ol>
        </nav>

        <div id="macy-licitante">

            @foreach (var item in Model)
            {
                <a href="~/convocatorias/@item.UrlMaster">
                    <div class="card-deck">
                        <div class="card symptom d-flex">
                        <img class="card-img-top" src="~/images/nacionLicitante/@item.CoverPage" alt="@item.NameMaster">
                            <div class="text">
                                <h3>@item.NameMaster </h3>
                                <p class="text-center mt-2">Publicado: @item.DateCreate</p>
                            </div>

                            @{
                                var _nacionLicitantegStartDate = Convert.ToDateTime(item.NacionLicitantegStartDate);
                                var _nacionLicitanteEndDate = Convert.ToDateTime(item.NacionLicitanteEndDate);

                                if (_currentDate >= _nacionLicitantegStartDate)
                                {
                                    if (_currentDate <= _nacionLicitanteEndDate)
                                    {
                                        <div class="card-footer" style="background-color:#00b451">
                                            <small class="text-card-footer text-center">ACTIVO</small>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="card-footer" style="background-color:#ffda00">
                                            <small class="text-card-footer text-center">INACTIVA</small>
                                        </div>
                                    }
                                }
                            }

                        </div>

                    </div>
                </a>
            }

        </div>

    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        var licitante = new Macy({
            container: "#macy-licitante",
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: {
                y: 16,
                x: "2%",
            },
            breakAt: {
                1200: 3,
                940: 2,
                520: 1,
                350: 1
            }
        });
    </script>
}
