@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ModelViewEmployees>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Url"] = "http://www.espsantafedeantioquia.co/funcionarios";
    ViewData["Title"] = "Funcionarios";
    ViewData["Coverpage"] = "http://www.espsantafedeantioquia.co/images/logo-coverpage.jpg";
}


<div class="site-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Funcionarios</li>
            </ol>
        </nav>

        @if (SignInManager.IsSignedIn(User)
            && User.IsInRole("Admin")
            && User.IsInRole("SuperAdmin"))
        {
            <a asp-action="create">
                <div class="alert item-add" role="alert">
                    en esta sección puedes agregar un item nuevo
                </div>
            </a>
        }

        <div class="row mt-3" id="macy-licitante">

            @foreach (var item in Model)
            {

                <div class="symptom">
                    <div class="row justify-content-center">
                        <img src="~/images/employees/@item.CoverPage" class="img-fluid">
                    </div>
                    <div class="text text-center">
                        <h3 class="text-capitalize">@item.Name</h3>
                        <p>@item.Occupation</p>
                    </div>
                </div>

            }

        </div>
        <br />
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="note row">
                    <partial name="_BusinessObjective" />
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        var licitante = new Macy({
            container: "#macy-licitante",
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: {
                y: 16,
                x: "2%",
            },
            breakAt: {
                1200: 3,
                940: 2,
                520: 1,
                350: 1
            }
        });
    </script>
}
