<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Empresas de servicios públicos</title>


    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">

    @*resource css*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    @*Preloader Start*@
    @*<div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/images/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>*@
    @*Preloader Start*@

    <header>
        @*Header Start*@
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    @*Left Social*@
                    <div class="header-left-social">
                        <ul class="header-social">
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li>admin@empsantafedeantioquia.gov.co</li>
                                        <li>3105108287</li>
                                    </ul>
                                </div>
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">

                    <div class="container">
                        <div class="menu-wrapper">
                            @*Logo*@
                            <div class="logo logo2 d-block d-lg-none">
                                <a asp-controller="home" asp-action="index"><img src="~/images/logo/logo.png" alt=""></a>
                            </div>
                            @*Main-menu*@
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a asp-controller="home" asp-action="index"><img src="~/images/logo/logo.png" alt=""></a></li>
                                        <li><a asp-controller="home" asp-action="index">Inicio</a></li>
                                        <li><a href="~/acerca-de-nosotros">Acerca de nosotros</a></li>
                                        <li><a href="~/funcionarios">Funcionarios</a></li>

                                        <li>
                                            <a href="blog.html">Servicios</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Mantenimientos de acequias</a></li>
                                                <li><a href="blog.html">Alumbrados públicos</a></li>
                                                <li><a href="blog_details.html">Ruta Selectiva</a></li>
                                                <li><a href="elements.html">Plantas de tratamientos</a></li>
                                                <li><a href="blog_details.html">Jornadas de siembra</a></li>
                                                <li><a href="blog_details.html">Recolección de llantas</a></li>

                                            </ul>
                                        </li>

                                        <li><a href="contact.html">Blog</a></li>
                                    </ul>
                                </nav>
                            </div>
                            @*Header-btn*@
                            <div class="header-search d-none d-lg-block">
                                <form action="#" class="form-box f-right ">
                                    <input type="text" name="Search" placeholder="Buscar">
                                    <div class="search-icon">
                                        <i class="fas fa-search special-tag"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                        @*Mobile Menu*@
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Header End*@
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - masterESPSTA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @*Scroll Up*@
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    @*resource js*@

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    @*www.tiny.cloud/*@
    <script src="https://cdn.tiny.cloud/1/fx3uf5far79v8h24dqwntqiaf5kq03fcderm49440staohhq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
