@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="header-info-right">
    <ul>

        @if (SignInManager.IsSignedIn(User))
        {
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity.Name!</a></li>

            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Salir</button>
                </form>
            </li>
        }
        else
        {
            <li><a asp-area="Identity" asp-page="/Account/Register"><i class="ti-user"></i>Registrarse</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Login"><i class="ti-lock"></i>Login</a></li>
        }

    </ul>
</div>
