<div class="col-lg-3 offset-lg-1">
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-home"></i></span>
        <div class="media-body">
            <h3>Santa Fe de Antioquia.</h3>
            <p>Centro Comercial la Conduria</p>
        </div>
    </div>
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
        <div class="media-body">
            <h3>3105108287</h3>
            <p>Atención al usuario</p>
        </div>
    </div>
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
            <h3>Jhotams.developer@gmail.com</h3>
            <p>Envíanos tu consulta en cualquier momento!</p>
        </div>
    </div>
</div>