@{
    ViewData["Title"] = "PQRSD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
        <div class="row mt-3">
            <p class="text-justify">La Empresa de Servicios Públicos de Santa Fe de Antioquia a pone disposición el sistema de PQRSD (Peticiones, Quejas, Reclamos, Sugerencias y Denuncias) en cumplimiento de la Ley de transparencia y acceso a la información (1712 de 2014), del Estatuto Anticorrupción (Ley 1474 de 2011) y de la Estrategia de Gobierno En Línea (Decreto 2693 de 2012).</p>
            <p><a href="~/formular-pqrsd"><strong>Formular PQRSD</strong></a></p>
        </div>
        <br />


    </div>
</div>
